<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Mercado-liebre</title>
</head>
<body class="bg-grey">
    <header class="bg-yellow">
    <div class="carac-header">
     <div class="carac-logo">
      <img src="/images/logo-mercado-liebre.svg">   
       </div>
       <div class="formulario-adptativo-busqueda">
          <form class="formulario-busqueda">
           <input type="text" placeholder="Buscar productos,marcas" class="barra-busqueda">
           <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
         <div class="compras-cuotas"><i class="fa-solid fa-hand-holding-dollar compra-centrado"></i>Comprá en cuotas y sin tarjeta de crédito</div>
    </div>
    <div>
        <div class="site-navbar">
          <div class="flex-navbar">
              <div class="cont-listone">
                 <ul class="nav-listone">
                 <li>Ofertas</li>   
                 <li>Tiendas Oficiales</li>   
                 <li>Vender</li>   
                 <li>Ayuda</li>   
                 </ul>
              </div>
              <div class="cont-listtwo">
                 <ul class="nav-listtwo">
                     <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li>   
                    <li><a href="/login">Ingresá </a> <i class="fa-solid fa-right-to-bracket"></i></li>   
                    <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>   
                  </ul>
              </div>
          </div>
        </div>
        <div class="menu-principal">
            <i class="fas fa-bars menu-centrado"></i>
        </div>
        <div class="banner-img">
        <img src="/images/img-home-banner.jpg" alt="banner home"  class="w-100">
        </div>
    </div>
    </header>
    <main class="propiedades-main">
        <h3 class="titulares-size">Basado en tu última visita</h3>
        <section class="seccion-productos">
            <article class="articulos-caracteristica product-shadow">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex"  class="w-100 carac-img">
                <div class="detalles-articulos">
                   <i class="fas fa-truck"></i>
                   <div class="precio-des">
                     <p class="precio-size">$6.770</p>
                     <p class="desc-des-size desc-color-word">40% OFF</p> 
                    </div>
                  <p class="desc-des-size description">Cafetera Moulinex</p> 
                </div>
            </article>
        <article class="articulos-caracteristica product-shadow">
           <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook pro 2019" class="w-100 carac-img">
            <div class="detalles-articulos">
              <i class="fas fa-truck"></i>
                <div class="precio-des">
                 <p class="precio-size">$230.000</p>
                 <p class="desc-des-size desc-color-word">20% off</p>
                </div>
             <p class="desc-des-size description">MacBook Pro 2019</p>
            </div>
        </article>
        <article class="articulos-caracteristica product-shadow">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="S10"  class="w-100 carac-img">
                <div class="detalles-articulos">
                   <i class="fas fa-truck"></i>
                    <div class="precio-des">
                     <p class="precio-size">$70.500</p>
                     <p class="desc-des-size desc-color-word">10% off</p>
                    </div>
                    <p class="desc-des-size description">Samsung Galaxy S10</p>
                </div>
        </article>
        <article class="articulos-caracteristica product-shadow">
             <img src="/images/img-tv-samsung-smart.jpg" alt="TvSamsungSmart"  class="w-100 carac-img">
                <div class="detalles-articulos">
                  <i class="fas fa-truck"></i>
                    <div class="precio-des">
                     <p class="precio-size">$23.200</p>
                     <p class="desc-des-size desc-color-word">5% off</p>
                    </div>
                    <p class="desc-des-size description">SmartTv Samsung 43"</p>
                </div>
        </article>
     </section>
     <h3 class="titulares-size">Sección de Ofertas</h3>
     <section class="seccion-productos">
        <article class="articulos-caracteristica product-shadow">
         <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex"  class="w-100 carac-img">
            <div class="detalles-articulos">
             <i class="fas fa-truck"></i>
                <div class="precio-des">
                 <p class="precio-size">$6.770</p>
                 <p class="desc-des-size desc-color-word">40% OFF</p> 
                </div>
             <p class="desc-des-size description">Cafetera Moulinex</p> 
            </div>
        </article>
        <article class="articulos-caracteristica product-shadow">
          <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro 2019"  class="w-100 carac-img">
            <div class="detalles-articulos">
             <i class="fas fa-truck"></i>
                <div class="precio-des">
                   <p class="precio-size">$230.000</p>
                   <p class="desc-des-size desc-color-word">20% off</p>
                </div>
             <p class="desc-des-size description">MacBook Pro 2019</p>
            </div>
        </article>
        <article class="articulos-caracteristica product-shadow">
         <img src="/images/img-samsung-galaxy-s10.jpg" alt="S10"  class="w-100 carac-img">
            <div class="detalles-articulos">
              <i class="fas fa-truck"></i>
                <div class="precio-des">
                 <p class="precio-size">$70.500</p>
                 <p class="desc-des-size desc-color-word">10% off</p>
                </div>
             <p class="desc-des-size description">Samsung Galaxy S10</p>
            </div>
        </article>
        <article class="articulos-caracteristica product-shadow">
         <img src="/images/img-tv-samsung-smart.jpg" alt="TvSamsungSmart"  class="w-100 carac-img">
            <div class="detalles-articulos">
             <i class="fas fa-truck"></i>
               <div class="precio-des">
                   <p class="precio-size">$23.200</p>
                   <p class="desc-des-size desc-color-word">5% off</p>
                </div>
             <p class="desc-des-size description">SmartTv Samsung 43"</p>
            </div>
        </article>
     </section>
    </main>
    <footer>
     <div class="div-footer">
     <i class="fa-solid fa-credit-card icon-footer"></i>
     <p>Pagá con tarjeta o en efectivo</p>
     <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
     </div>
     <div class="div-footer">
     <i class="fa-solid fa-gift icon-footer"></i>
     <p>Envío gratis desde $ 2.500</p>
     <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
     </div>
     <div class="div-footer">
     <i class="fa-solid fa-user-shield icon-footer"></i>
     <p>Seguridad, de principio a fin</p>
     <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
     </div>
     <div class="div-footer">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
     </div>
    </footer>
</body>
</html>