/*Home*/


body{
    font-family:'Roboto';
    font-size: 12px;
}

ul {
    margin-bottom: 10px;
}

/*clases de Home*/
.articulos-caracteristica{
    background-color: white;
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    box-sizing: border-box;
}


.banner-img{
    margin-top: 20px;
}
.barra-busqueda{
    margin-left:20px;
    width: 70%;

}

.bg-grey{
    background-color:#ebebeb;
}

.bg-yellow{
    background-color: #EAC926;
}

.carac-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    
}
.carac-img{
    border-bottom: 1px solid #ebebeb;
}
.carac-logo{
    width: 50vw;
}


.compra-centrado{
    margin:auto;
}
.formulario-busqueda{
    width: 50vw;
}

.desc-color-word{
    color:#39b54a;
}

.desc-des-size{
    width: 70vw;
    font-size: 16px;
}

.detalles-articulos{
    margin: 15px;
    position: relative;
    box-sizing: border-box;
    
}
.detalles-articulos i {
    text-align: center;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px; 
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -35px;
}

.div-footer{
    text-align: center;
}
.entrada-formulario{
    box-sizing: border-box;
    width: 90%;
}

.icon-footer{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3;
}
.menu-principal{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    background-color: #1259c3;
}

.menu-centrado{
    font-size:2em;
    color: white;
    margin-top:10px;
    
}

.product-shadow{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.propiedades-main{
    margin:auto;
    width: 90vw;
}

.precio-des{
    display: flex;
    justify-content: flex-start;
}


.precio-size{
    width: 30vw;
    font-size: 18px;
    align-items: flex-start;
}

.titulares-size{
    font-size: 24px;
    color:#666;
}
.site-navbar{
    display: none;
}

.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}


/*Formulario de registro*/
.botones{
    text-align: center;
}

.botones p input{
    width: 200px;
    height: 30px;
    color:white;
    border: none;
    background-color:#1259c3 ;
}

.checkbox p{
    display: block;
}

.formulario{
    width: 90vw;
    margin: auto;
    padding: 20px;
    background-color:#ebebeb;
    position: relative;
}

.formulario p{
    padding: 10px;
    margin:auto;
}

.formulario label{
    font-weight: bold;
}

.input-relleno{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border:5px solid white;
}

/*formulario login*/

.botones-login p input{
    width: 60%;
    height: 30px;
    color:white;
    border: none;
    background-color:#1259c3 ;
}
.botones-login:hover p input{
    background-color: #0022AA;
}
.centrado-login{
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}

.formulario-login{
    width: 90vw;
    margin:auto;
    background-color:#ebebeb;
    position: relative;
}

.formulario-login p{
    padding: 10px;
    margin: auto;
}

.input-relleno-login{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border:5px solid white;
}

/*Responsive*/

@media(min-width:481px){
    /*tablet*/
    .site-navbar{
        display: contents;
    }
    .menu-principal{
        display: none;
    }
    .seccion-productos{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
       }
    
       .articulos-caracteristica{
        width: 40vw;
        background-color: white;
        margin-bottom: 10px;
        border: solid 1px #ebebeb;
        box-sizing: border-box;
    }
    .carac-header{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       }
     
       .carac-logo{
        width: 20vw;
       }
       .barra-busqueda{
        width: 20vw;
       }
       .compras-cuotas{
        width: 20vw;
       }
       .detalles-articulos:hover i{
        transition: all 1s;
        transform: rotate(-90deg);

    }
    
    .flex-navbar{
     display: flex;
    }
  
    .nav-listone{
     display: flex;
     list-style: none;
     }

    .nav-listtwo{
         display: flex;
         list-style: none;
         justify-content: end;
     }

     .nav-listone li{
         padding-left: 2%;
         padding-right: 2%;
     }

     .nav-listtwo li{
         padding-left: 2%;
         padding-right: 2%;
     }
    
    .cont-listone{
     width: 50vw;
    }
    .cont-listtwo{
     width: 50vw;
    }
  
}

@media(min-width:769px){
    /*laptop*/
   .product-shadow{
    box-shadow: none;
    }
    .description {
     display:none;
    }

    .detalles-articulos:hover .description{
        display: block;
        
    }

    .detalles-articulos:hover i{
        transition: all 1s;
        transform: rotate(-90deg);

    }
    .articulos-caracteristica:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .site-navbar{
        display: contents;
    }
    .menu-principal{
        display: none;
    }
    .seccion-productos{
        display:flex;
        justify-content: space-between;
       }
    
       .articulos-caracteristica{
        width: 20vw;
        background-color: white;
        margin-bottom: 10px;
        border: solid 1px #ebebeb;
        box-sizing: border-box;
    }
    .carac-header{
        display: flex;
        justify-content: center;
        align-items: center;
       }
     
       .carac-logo{
        width: 20vw;
        margin: 50px;
       }
       .formulario-adptativo-busqueda{
        width: 20vw;
        margin: 50px;
        
       }
       .compras-cuotas{
        width: 20vw;
        margin: 50px;
       
       }
       .flex-navbar{
        display: flex;
       }

       .formulario{
        width: 500px;
       }

       .nav-listone{
        display: flex;
        list-style: none;
        }

       .nav-listtwo{
            display: flex;
            list-style: none;
            justify-content: end;
        }

        .nav-listone li{
            padding-left: 30px;
            padding-right: 30px;
        }

        .nav-listtwo li{
            padding-left: 30px;
            padding-right: 30px;
        }
       
       .cont-listone{
        width: 50vw;
       }
       .cont-listtwo{
        width: 50vw;
       }
}
@media(min-width:1281px){
   /*escritorio*/
   .site-navbar{
    display: contents;
}
   .menu-principal{
    display: none;
   }
   .seccion-productos{
    display:flex;
    justify-content: center;
   }

   .articulos-caracteristica{
    width: 20vw;
    background-color: white;
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    box-sizing: border-box;
}
.carac-header{
    display: flex;
    justify-content: center;
    align-items: center;
   }
 
   .carac-logo{
    width: 20vw;
    margin: 50px;
   }
   .formulario-adptativo-busqueda{
    width: 20vw;
    margin: 50px;
    
   }
   .formulario{
    width: 500px;
   }

   .compras-cuotas{
    width: 20vw;
    margin: 50px;
   
   }
   .detalles-articulos:hover i{
    transition: all 1s;
    transform: rotate(-90deg);

}

 .flex-navbar{
 display: flex;
}

.nav-listone{
 display: flex;
 list-style: none;
 }

.nav-listtwo{
     display: flex;
     list-style: none;
     justify-content: end;
 }

 .nav-listone li{
     padding-left: 30px;
     padding-right: 30px;
 }

 .nav-listtwo li{
     padding-left: 30px;
     padding-right: 30px;
 }

.cont-listone{
 width: 50vw;
}
.cont-listtwo{
 width: 50vw;
}
   
  
}