*{
    box-sizing: border-box;
}
body{
    font-family:'Roboto';
    font-size: 12px;
}

ul {
    margin-bottom: 10px;
}

.articulos-caracteristica{
    background-color: white;
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    box-sizing: border-box;
}
.barra-busqueda{
    margin-left:20px;
}

.bg-grey{
    background-color:#ebebeb;
}

.bg-yellow{
    background-color: #EAC926;
}

.compra-centrado{
    margin:auto;
}

.desc-color-word{
    color:#39b54a;
}

.desc-des-size{
    width: 70vw;
    font-size: 16px;
}

.detalles-articulos{
    margin: 15px;
    position: relative;
    box-sizing: border-box;
    
}
.detalles-articulos i {
    text-align: center;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px; 
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.div-footer{
    text-align: center;
}
.icon-footer{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3;
}
.menu-principal{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    background-color: #1259c3;
   
}

.menu-centrado{
    font-size:2em;
    color: white;
    margin-top:10px;
    
}

.product-shadow{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.propiedades-main{
    margin:auto;
    width: 90vw;
}

.precio-des{
    display: flex;
    justify-content: flex-start;
}


.precio-size{
    width: 30vw;
    font-size: 18px;
    align-items: flex-start;
}

.titulares-size{
    font-size: 24px;
    color:#666;
}

.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}

.site-navbar{
    display: none;
}

@media(min-width:481px){
    /*tablet*/
    .site-navbar{
        display: contents;
    }
    .menu-principal{
        display: none;
    }
  
}

@media(min-width:769px){
    /*laptop*/
   .product-shadow{
    box-shadow: none;
    }
    .description {
     display:none;
    }
    .site-navbar{
        display: contents;
    }
    .menu-principal{
        display: none;
    }
}
@media(min-width:1281px){
   /*escritorio*/
   .site-navbar{
    display: contents;
}
   .menu-principal{
    display: none;
   }
}